<!-- Contact Form -->
<div class="contact-container">
  <!-- Mensaje de éxito -->
  <div *ngIf="showSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="bi bi-check-circle-fill"></i> {{ successMessage }}
  </div>

  <div class="contact-card">
    <h2>CONTACTO</h2>

    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="nombre" formControlName="name" placeholder="Nombre" required>
        <input type="text" id="apellido" formControlName="apellido" placeholder="Apellido" required>
      </div>
      <div class="form-group">
        <input type="email" id="email" formControlName="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="tel" id="telefono" formControlName="telefono" placeholder="Número de teléfono">
      </div>
      <div class="form-group">
        <textarea id="mensaje" formControlName="mensaje" placeholder="Mensaje" rows="5" required></textarea>
      </div>
      <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
    </form>
  </div>
</div>
