/* Global styles and font settings */
* {
  font-family: "taurunum", sans-serif;
  font-family: "utile-narrow", sans-serif;

}



:root {
  --color-primary: #000000;        /* Color principal (Negro oscuro) */
  --color-secondary: #232D3F;      /* Color secundario (Azul oscuro) */
  --color-accent: #005B41;         /* Color de acento (Verde bosque) */
  --color-highlight: #99cf04; 
  --color-card: #00000025;
  
  --font-primary: "Taurunum", sans-serif;    /* Fuente principal */
  --font-secondary: "utile-narrow", sans-serif;   /* Fuente secundaria */
}

body {
  background:#949494;
  /*background-image: linear-gradient(45deg, transparent 0%, transparent 46%,rgba(114, 114, 114,0.06) 46%, rgba(114, 114, 114,0.06) 70%,transparent 70%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 59%,rgba(114, 114, 114,0.06) 59%, rgba(114, 114, 114,0.06) 91%,transparent 91%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 15%,rgba(114, 114, 114,0.06) 15%, rgba(114, 114, 114,0.06) 40%,transparent 40%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));*/
  background-attachment: fixed;
  background-size: cover;
  color: rgb(173, 180, 179);
  margin: 0;
  /* Set margin to 0 for consistent behavior */
  max-width: 100%;
  overflow-x: hidden;
  /* Prevent horizontal overflow */
  font-family: 'Poppins', sans-serif;
  cursor: url('../src/assets/iconos/cursor/sable.png'), auto;
}

/* Selection styles */
::selection {
  background-color: #32cd3294;
  /* Green */
  color: #fff;
  /* Text color when selected */
}

/* Estilo para scrollbar en WebKit */
::-webkit-scrollbar {
  width: 10px;
  /* Ancho de la scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #1b1a1a;
  /* Color del fondo de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color del thumb (la parte que puedes arrastrar) */
  border-radius: 5px;
  /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color del thumb al pasar el mouse */
}

/* Keyframes for animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media queries for responsive design */
@media (max-width: 768px) {

  figure img,
  figure audio,
  figure iframe {
    width: 100%;
  }
}