/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
  }

  body {
    background: #63a2d3;
    background: -webkit-linear-gradient(to right, #000000, #bdc3c7);
    background: linear-gradient(to right, #010f06, #657a71);    
    color: rgb(173, 180, 179);
    margin: auto;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    cursor: url('../src/assets/iconos/cursor/sable.png'), auto;
  }

::selection {
  background-color: #32cd3294; /* Verde */
  color: #fff; /* Color del texto cuando está seleccionado */
}

/*Media querys*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  figure img,
  figure audio,
  figure iframe {
    width: 100%;
  }
}

