<section id="about-us" class="about-us-section" data-aos="zoom-in-up">
    <h2>Acerca de Nosotros</h2>
    <p>Junior Tech Troopers, estudiantes avanzados de la carrera Tecnicatura en Programación. Nuestro objetivo es
        desarrollar soluciones innovadoras y eficaces mientras nos preparamos para convertirnos en profesionales
        altamente capacitados en el campo de la tecnología. Tenemos como pilares a:</p>
    <div class="pillars-container">
        <div class="pillar">
            <i class="bi bi-people-fill"></i>
            <h3>TRABAJO EN EQUIPO</h3>
            <p>Fomentamos un entorno colaborativo donde cada miembro contribuye con sus habilidades únicas.</p>
        </div>
        <div class="pillar">
            <i class="bi bi-chat-dots-fill"></i>
            <h3>COMUNICACIÓN</h3>
            <p>La comunicación efectiva es clave para el éxito de nuestros proyectos y el crecimiento personal y
                profesional.</p>
        </div>
        <div class="pillar">
            <i class="bi bi-book-half"></i>
            <h3>CONOCIMIENTO</h3>
            <p>Nos esforzamos constantemente por aprender y aplicar nuevos conocimientos y tecnologías en nuestros
                proyectos.</p>
        </div>
    </div>
  </section>
  