/* About Us Section */
.about-us-section {  
  text-align: center;
  padding: 60px 20px;
  color: #ffffff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-section h2 {
  color:var(--color-highlight);
  text-align: center;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 3em;

}

.about-us-section p {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.6;
}

.pillars-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.pillar {
  background: rgba(0, 0, 0, 0.322); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Desenfoque */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.062);
  max-width: 280px;
  flex: 1 1 250px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}


.pillar:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.pillar h3 {
  color: #9cf001;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.pillar p {
  color: #dcdcdc;
  font-size: 16px;
  line-height: 1.5;
}

.pillar i {
  color: #f8f8f8;
  font-size: 50px;
  margin-bottom: 15px;
  transition: color 0.3s, transform 0.3s;
}

.pillar:hover i {
  color: #c2f705;
  transform: scale(1.2);
}

span{
  color:#9cf001;
}

a{
  text-decoration: none;
  color: rgb(6, 159, 248);
}