/*Sección header*/
header {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: rgba(95, 95, 99, 0.521);
    margin: auto;
    padding: 28px;
    border: 5px solid rgba(7, 59, 68, 0.651);
    position: relative;
  }
  
.navbar-custom{
  background-color: var(--color-card);
  font-weight: medium;
}

img{
  transition: transform 0.3s ease, color 0.3s ease;
}

img:hover{
  transform: scale(1.1);
}
  
  
  
 
  
 