<!--Footer-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2d2d31">
    <div class="container-fluid" id="footer">
        <div class="row">
            <footer>
                <p>Mendoza, Argentina</p>
                <legend></legend>
                <small>Se reservan los derechos © JTT 2024</small>
                <div class="footer-icons">
                    <a href="mailto:juniortechtroopers@gmail.com" target="_blank"><i
                            class="bi bi-envelope-check"></i></a>

                </div>
            </footer>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav"></div>
    </div>