<!-- Footer -->
<nav class="navbar navbar-expand-lg navbar-dark footer-nav">
    <div class="container-fluid footer-container">
      <div class="row w-100">
  
        <!-- About Section -->
        <div class="col-md-4 text-center text-md-start">
          <h5 class="footer-title">Acerca de nosotros</h5>
          <p class="footer-description">Somos Junior Tech Troopers, apasionados por la tecnología y el desarrollo de soluciones digitales innovadoras.</p>
        </div>
  
        <!-- Contact and Location Section -->
        <div class="col-md-4 text-center">
          <h5 class="footer-title">Contacto</h5>
          <p class="footer-location">Mendoza, Argentina</p>
          <div class="footer-icons">
            <a href="mailto:juniortechtroopers@gmail.com" target="_blank"><i class="bi bi-envelope-check"></i></a>
            <a href="https://www.youtube.com/@JuniorTechTroopers" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://github.com/CodeStrong2023/JuniorTechTroopersE-commerse-Front" target="_blank"><i class="bi bi-github"></i></a>
            <a href="tel:+542993298415" target="_blank"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
  
        <!-- Copyright Section -->
        <div class="col-md-4 text-center text-md-end">
          <h5 class="footer-title">Derechos</h5>
          <small>© JTT 2024 - Todos los derechos reservados</small>
        </div>
        
      </div>
    </div>
  </nav>
  