<section class="projects-section" id="Projects">
  <h2>Proyectos</h2>
  <div class="projects-grid">
    <!-- Card 1 -->
    <div class="card">
      <div class="card__img">
        <img src="../../../assets/images/proyectos/Trooper.png" alt="Descripción del proyecto" />
        <span class="card__span">#Java</span>
      </div>
      <div class="card-int">
        <p class="card-int__title">Project Title</p>
        <p class="excerpt">Brief description of the project.</p>
        <button class="card-int__button">Show</button>
      </div>
    </div>

    <div class="card">
      <div class="card__img">
        <img src="../../../assets/images/proyectos/Trooper.png" alt="Descripción del proyecto" />
        <span class="card__span">#Python</span>
      </div>
      <div class="card-int">
        <p class="card-int__title">Project Title</p>
        <p class="excerpt">Brief description of the project.</p>
        <button class="card-int__button">Show</button>
      </div>
    </div>

    <div class="card">
      <div class="card__img">
        <img src="../../../assets/images/proyectos/Trooper.png" alt="Descripción del proyecto" />
        <span class="card__span">Category</span>
      </div>
      <div class="card-int">
        <p class="card-int__title">Project Title</p>
        <p class="excerpt">Brief description of the project.</p>
        <button class="card-int__button">Show</button>
      </div>
    </div>

    <div class="card">
      <div class="card__img">
        <img src="../../../assets/images/proyectos/Trooper.png" alt="Descripción del proyecto" />
        <span class="card__span">Category</span>
      </div>
      <div class="card-int">
        <p class="card-int__title">Project Title</p>
        <p class="excerpt">Brief description of the project.</p>
        <button class="card-int__button">Show</button>
      </div>
    </div>

    <div class="card">
      <div class="card__img">
        <img src="../../../assets/images/proyectos/Trooper.png" alt="Descripción del proyecto" />
        <span class="card__span">Category</span>
      </div>
      <div class="card-int">
        <p class="card-int__title">Project Title</p>
        <p class="excerpt">Brief description of the project.</p>
        <button class="card-int__button">Show</button>
      </div>
    </div>
    
  </div>
</section>
