/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.conocenos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;  
}

.conocenos-section h1 {
  color:var(--color-highlight);
  text-align: center;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 3em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; /* Reduce la brecha entre las cards */
  width: 100%;
}

.card-column {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  height: 400px;
  width: 100%;
  max-width: 300px; /* Ajusta el tamaño máximo de las cards */
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.089); /* Transparencia */
  box-shadow: 0 5px 50px rgba(240, 240, 240, 0.11);
  border-radius: 15px;
  transform-style: preserve-3d;
  backface-visibility: hidden;  
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  overflow: hidden; /* Asegura que el brillo no se salga de la card */
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); /* Brillo más sutil */
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

/* Estilo para la cara delantera */
.card .front-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative; /* Para que el pseudo-elemento se posicione sobre la card */
  z-index: 0;
}

.card .front-face img {
  max-height: 70%; /* Ajusta el tamaño de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Marco redondo */
  border: 5px solid #fff; /* Marco blanco */
  object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  align-items: center; /* Centra verticalmente */
  margin-top: 20px;
}
.card:hover::after {
  left: 100%; /* Mueve el brillo de izquierda a derecha */
}

.card .front-face .name {
  font-size: 18px; /* Tamaño del texto */
  color: #ffffff; /* Color del texto */
}

/* Estilo para la cara trasera */
.card-wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}

.card-wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
  color: #ffffff; /* Texto en blanco */
}

.card-wrapper:hover > .back-face {
  transform: rotateY(0deg);
}

.card-wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, var(--color-highlight), #2ede98);
}

.card-wrapper .back-face .info {
  text-align: center;
}

.card-wrapper .back-face .info .title {
  font-size: 22px;
  font-weight: 500;
}

.card-wrapper .back-face .info p {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0.5em 0;
  letter-spacing: 1px;
}

.card-wrapper .back-face ul {
  display: flex;
  margin-top: 10px;
}

.card-wrapper .back-face ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: #000000;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: var(--color-highlight); /* Botones verdes */
  transition: all 0.5s ease;
}

.card-wrapper .back-face ul a:hover {
  color: var(--color-highlight);
  border-color: var(--color-highlight);
  background: transparent;
}

/* Responsive design */
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .card-wrapper {
    height: 300px;
  }

  .card .front-face img {
    max-height: 60%; /* Ajustar el tamaño de la imagen en pantallas más pequeñas */
  }

  .card-wrapper .back-face img {
    height: 120px;
    width: 120px;
  }

  .card-wrapper .back-face .info .title {
    font-size: 18px;
  }

  .card-wrapper .back-face .info p {
    font-size: 12px;
  }
}