<section id="Conocenos" class="conocenos-section" data-aos="zoom-in-up">
    <h1>Nuestro equipo</h1>
    <div class="card-container" data-aos="zoom-in-up">
        <!-- Card 1 -->
        <div class="card-column">
            <div class="card-wrapper">
                <div class="card front-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (5).webp">
                    
                </div>
                <div class="card back-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (5).webp">
                    <div class="info">
                        <div class="title">Marianela Purretta</div>
                        <p>Programadora | La diseñadora</p>
                    </div>
                    <ul>
                        <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-column">
            <div class="card-wrapper">
                <div class="card front-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (4).webp">
                </div>
                <div class="card back-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (4).webp">
                    <div class="info">
                        <div class="title">Joaquín Viñolo</div>
                        <p>Programador | El carreras</p>
                    </div>
                    <ul>
                        <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-column">
            <div class="card-wrapper">
                <div class="card front-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (1).webp">
                </div>
                <div class="card back-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (1).webp">
                    <div class="info">
                        <div class="title">Nelson Lassa</div>
                        <p>Programador | Pibe Java </p>
                    </div>
                    <ul>
                        <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-column">
            <div class="card-wrapper">
                <div class="card front-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (3).webp">
                </div>
                <div class="card back-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (3).webp">
                    <div class="info">
                        <div class="title">Franco Pagano</div>
                        <p>Programador | El robotitos</p>
                    </div>
                    <ul>
                        <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-column">
            <div class="card-wrapper">
                <div class="card front-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (2).webp">
                </div>
                <div class="card back-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (2).webp">
                    <div class="info">
                        <div class="title">Yamil Yunes</div>
                        <p>Programador | El base de datos</p>
                    </div>
                    <ul>
                        <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-column">
            <div class="card-wrapper">
                <div class="card front-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (6).webp">
                </div>
                <div class="card back-face">
                    <img src="../../../assets/images/miembros/slimify-compressed/integrante (6).webp">
                    <div class="info">
                        <div class="title">Mauro Barroso</div>
                        <p>Programadora | Experto en fulbito</p>
                    </div>
                    <ul>
                        <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
