 <!--Acerca de nosotros-->
 <section id="Conocenos" data-aos="zoom-in-up">
    <h1>Nuestro equipo</h1>

    <div class="row_2" data-aos="zoom-in-up">
        <!-- Column 1-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <a href="https://github.com/MarianelaPurretta" target="_blank"><img
                            src="../../../assets/images/miembros/MARIANELA-modified.png" /></a>

                </div>
                <h3>Marianela Purretta</h3>
                <p>Programadora | Fotografa profesional | La mamá del grupo</p>
                <div class="social-icons">
                    <a href="https://github.com/MarianelaPurretta" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/marianela-purretta-842bb0254/" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/marianela_purretta/" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
        <!-- Column 2-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <a href="https://github.com/PaganoFranco" target="_blank"><img
                            src="../../../assets/images/miembros/FRANCO-modified.png" /></a>
                </div>
                <h3>Franco Pagano</h3>
                <p>Programador | Profesor tecnológico | Ingeniero en casi todo</p>
                <div class="social-icons">
                    <a href="https://github.com/PaganoFranco" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/franco-pagano-341814235/" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/franco_pagano24/" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>
        <!-- Column 3-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <a href="https://github.com/NelsonLassa" target="_blank"><img
                            src="../../../assets/images/miembros/NELSON-modified.png" /></a>
                </div>
                <h3>Nelson Lassa</h3>
                <p>Programador | SCRUM MASTER | Todologo en todo (Agrega funcionalidades hasta el pseint)</p>
                <div class="social-icons">
                    <a href="https://github.com/NelsonLassa" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/nelson-lassa/" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/nelsonlassa/" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>
        <!-- Column 4-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <a href="https://github.com/joaquin9830" target="_blank"><img
                            src="../../../assets/images/miembros/JOAQUIN-modified.png" /></a>
                </div>
                <h3>Joaquín Viñolo</h3>
                <p>Programador | Criminalista | El pizzero del grupo (levadura fresca si o si)</p>
                <div class="social-icons">
                    <a href="https://github.com/joaquin9830" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/joaquin-vinolo98/" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/joaquin_vinolo/?hl=es-la" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>
        <!-- Column 5-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <a href="https://github.com/yunesyamil" target="_blank"><img
                            src="../../../assets/images/miembros/YAMIL-modified.png" /></a>
                </div>
                <h3>Yamil Yunes</h3>
                <p>Programador | Profesor | El administrador de base de datos</p>
                <div class="social-icons">
                    <a href="https://github.com/yunesyamil" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/yunesyamil/" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/yamiljesus_/?hl=es-la" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>
        <!-- Column 6-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <a href="https://github.com/Maujj1999" target="_blank"><img
                            src="../../../assets/images/miembros/MAURO-modified.png" /></a>
                </div>
                <h3>Mauro Barroso</h3>
                <p>Programador | Te aumenta la nafta en YPF | Experto en fulbito</p>
                <div class="social-icons">
                    <a href="https://github.com/Maujj1999" target="_blank"><i class="bi bi-github"></i></a>
                    
                    <a href="https://www.instagram.com/barroso_mauro/?hl=es-la/" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>
    </div>

</section>