<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/banner/Banner.jpg" class="d-block w-100 carousel-image" alt="...">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h1 class="animate-text">Bienvenidos a Junior Tech Troopers</h1>
        <a href="#Conocenos" class="btn btn-success mt-3">Conócenos</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner/Banner.jpg" class="d-block w-100 carousel-image" alt="...">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h1 class="animate-text">¿Ya viste nuestro último video?</h1>
        <h5 class="carousel-title">Corré a ver nuestro último video de Proyecto Python!!</h5>
        <div class="card mt-3 animated-card">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TMBL6uw-nCQ?si=jfFZKn-yA8zF2vlE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <div class="card-body">

          </div>
        </div>
        <a href="https://www.youtube.com/watch?v=TMBL6uw-nCQ&t=13s" class="btn btn-success mt-3" target="_blank">Ver
          ahora</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner/Banner.jpg" class="d-block w-100 carousel-image" alt="...">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h1 class="animate-text">Novedades!!</h1>
        <h5 class="carousel-title">Nuevo chatbot disponible en nuestra página</h5>
        <a (click)="chatbot()"><button class="btn btn-success mt-3">Probar ahora</button></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>