*{
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
}


/* Ajustar la altura de las imágenes del carrusel */
.carousel-image {
  height: 800px;
  object-fit: cover;
}



/* Centrar el título en el medio de cada slide */
.carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-highlight);
}

/* Estilos del Titulo */
.carousel-title {
  font-size: 2em;
  padding: 10px;
  border-radius: 8px;
  animation: fadeIn 2s ease-in-out;
  backdrop-filter: blur(2px); /* Aplicar desenfoque */
  color: floralwhite;
}

.animate-text{
  font-family: var(--font-secondary);
  font-weight:600;
}

.animate-text2{
  color:var(--color-highlight);
  backdrop-filter: blur(2px); /* Aplicar desenfoque */
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-weight:600;
}
.animate-text3{
  color:var(--color-highlight);
  backdrop-filter: blur(2px); /* Aplicar desenfoque */
  border-radius: 8px;
  font-family: var(--font-secondary);
  font-weight:600;
}
span {
  font-family: var(--font-primary);
  backdrop-filter: blur(2px); /* Aplicar desenfoque */
  border-radius: 8px;
  font-size: 1.7em;
  
  text-shadow: 
    /* Sombra más cercana - color blanco */
    1px 1px 0px white,
    -1px 1px 0px white,
    1px -1px 0px white,
    -1px -1px 0px white,
    0px 1px 0px white,
    0px -1px 0px white,
    1px 0px 0px white,
    -1px 0px 0px white,
    /* Sombra exterior - color destacado */
    4px 4px 6px var(--color-highlight),
    -4px 4px 6px var(--color-highlight),
    4px -4px 6px var(--color-highlight),
    -4px -4px 6px var(--color-highlight),
    0px 4px 6px var(--color-highlight),
    0px -4px 6px var(--color-highlight),
    4px 0px 6px var(--color-highlight),
    -4px 0px 6px var(--color-highlight);
}


.span-1 {
  color: #000000; 
  border-radius: 8px;
}

.span-2 {
  color:#000000;  
  border-radius: 8px;

}

.span-3 {
  color: #020202; 
  border-radius: 8px;
}

/* Estilos para los botones de acción del carrusel */
.carousel .btn {
  font-size: 18px;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  background: linear-gradient(50deg,#02020252, #59e6082f); /* Fondo transparente con un toque de color */
  color: #ffffffcc;
  text-transform: uppercase;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra más sutil para mantener la transparencia */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-highlight); /* Borde visible si lo deseas */
}


/* Efecto de hover para botones de acción */
.carousel .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px var(--color-highlight), 0 0 8px var(--color-highlight);
  background-color: rgba(0, 0, 0, 0.075);
}



.carousel .btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.075);
}

/* Animación de brillo en los botones de acción */
.carousel .btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(45deg);
  transition: opacity 0.3s;
  opacity: 0;
}

.carousel .btn:hover::before {
  opacity: 1;
  animation: shine 0.8s linear forwards;
}

@keyframes shine {
  from {
    transform: translateX(-100%) rotate(45deg);
  }
  to {
    transform: translateX(200%) rotate(45deg);
  }
}

/* Estilos de indicadores del carrusel */
.carousel-indicators button {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transition: background-color 0.3s ease;
  margin: 0 4px;
}

.carousel-indicators .active {
   
  color:#e2e608;
  width: 14px;
  height: 14px;
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-text {
  font-size: 5em;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 5px;
  font-family: var(--font-secondary);
}

/* Estilo para la carta animada */
.animated-card {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  height: auto; /* Mantiene la proporción de aspecto */
  color: black;
}

.animated-card img {
  transition: transform 0.3s ease-in-out;
}

.animated-card:hover img {
  transform: scale(1.1);
}

/* Ajuste del cuerpo de la carta */
.animated-card .card-body {
  padding: 10px;
}



/* Media queries adicionales para pantallas más grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-image {
    height: 600px;
  }

  .animate-text {
    font-size: 2em;
  }

  .carousel-title {
    font-size: 1.5em;
  }
}

@media (min-width: 1025px) {
  .carousel-image {
    height: 800px;
  }

  .animate-text {
    font-size: 3em;
  }

  .carousel-title {
    font-size: 2em;
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .carousel-image {
    height: 400px;
  }

  .animate-text {
    font-size: 0.8em;
    padding: 10px;
  }

  .carousel-title {
    font-size: 0.6em;
  }

  .carousel-caption .btn {
    font-size: 0.7em;
    padding: 5px 10px;
  }

  .animated-card iframe {
    width: 100%;
    height: auto;
  }
}